{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Create a new travel</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.title) }}
            </div>

            <div class="col-6">
                {{ form_row(form.origin) }}
            </div>

            <div class="col-6">
                {{ form_row(form.destination) }}
            </div>

            <div class="col-12">
                {{ form_row(form.description, { "attr": {"rows": "6"} }) }}
            </div>

            <div class="col-3">
                {{ form_row(form.cost) }}
            </div>

            <div class="col-9">
                {{ form_row(form.rating) }}
            </div>


        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

