{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Create a new travel</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-6">
                {{ form_row(form.country) }}
            </div>

            <div class="col-12">
                {{ form_row(form.description) }}
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

