{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Add a travel</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                {{ form_row(form.travel.title) }}
            </div>

            <div class="col-6">
                {{ form_row(form.travel.origin) }}
            </div>

            <div class="col-6">
                {{ form_row(form.travel.destination) }}
            </div>

            <div class="col-12">
                {{ form_row(form.travel.description, { "attr": {"rows": "6"} }) }}
            </div>

            <div class="col-3">
                {{ form_label(form.travel.cost, "Total Cost") }}
                {{ form_widget(form.travel.cost) }}
            </div>

            <div class="col-9">
                {{ form_row(form.rating) }}
            </div>



            <div class="col-12">
                <hr>
                <h2 class="mb-4 mt-4">Locations</h2>
            </div>

            <div class="container locations"
                 data-prototype="{{ form_widget(form.location.vars.prototype)|e('html_attr') }}">
                {% for el in form.location %}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(el.city) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(el.country) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(el.description) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(el.cost) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(el.transportation) }}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}{{ parent() }}
    <script src="{{ asset('js/create.js') }}">

    </script>
{% endblock %}

