{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container mt-4">

        <div style="display: flex; justify-content: left; align-items: flex-end;">
            <h1 class="mt-4" style="display:inline-block;">
                {{ travel.title }}
            </h1>
            <p class="small align-text-bottom ml-2">
                by {{ travel.user.username|upper }}
            </p>
        </div>
        <p class="text-muted">Posted on {{ travel.formattedDate }}</p>
        <span class="badge badge-secondary">from {{ travel.originName|upper }}</span>
        <span class="badge badge-secondary">to {{ travel.destinationName|upper }}</span>
        <span class="p-1 bg-primary font-weight-bold text-white rounded-circle float-right">{{ travel.getFormattedCost() }} €</span>
        <hr>

        <p class="lead">
            {{ travel.description }}
        </p>
        <hr>
        <span class="heading">User Rating</span>
        {% for i in 1..travel.rating %}
            <span class="fa fa-star" style="color: orange;"></span>
        {% endfor %}

        {% if travel.rating != 5 %}
            {% for j in 1..(5 - travel.rating) %}
                <span class="fa fa-star"></span>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}